<div class="artists__api">
  <div class="artists__api__items">
    <img src="https://picsum.photos/100/100" alt="Artiste Image">
    <p class="artists__api__title">test</p>
  </div>
  <div class="artists__api__items">
    <img src="https://picsum.photos/100/100" alt="Artiste Image">
    <p class="artists__api__title">test</p>
  </div>
  <div class="artists__api__items">
    <img src="https://picsum.photos/100/100" alt="Artiste Image">
    <p class="artists__api__title">test</p>
  </div>
  <div class="artists__api__items">
    <img src="https://picsum.photos/100/100" alt="Artiste Image">
    <p class="artists__api__title">test</p>
  </div>
  <div class="artists__api__items">
    <img src="https://picsum.photos/100/100" alt="Artiste Image">
    <p class="artists__api__title">test</p>
  </div>
</div>
