.navigation {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 600px;
  position: absolute;
  bottom: 0;
  background-color: #44403F;

  &__items {
    flex-direction: column;
  }
}
