<div class="playlist__api">
  <div class="playlist__api__items">
    <img src="https://picsum.photos/100/100" alt="Playlist Image">
    <p class="playlist__api__title">test</p>
  </div>
  <div class="playlist__api__items">
    <img src="https://picsum.photos/100/100" alt="Playlist Image">
    <p class="playlist__api__title">test</p>
  </div>
  <div class="playlist__api__items">
    <img src="https://picsum.photos/100/100" alt="Playlist Image">
    <p class="playlist__api__title">test</p>
  </div>
  <div class="playlist__api__items">
    <img src="https://picsum.photos/100/100" alt="Playlist Image">
    <p class="playlist__api__title">test</p>
  </div>
  <div class="playlist__api__items">
    <img src="https://picsum.photos/100/100" alt="Playlist Image">
    <p class="playlist__api__title">test</p>
  </div>
</div>
