<div class="music">
  <h2>title Donnée back</h2>
  <div class="music__items">
      <img src="https://picsum.photos/60/58" alt="music Image">
      <p class="music__title">Donnée back</p>
  </div>

  <div class="music__items">
    <img src="https://picsum.photos/60/58" alt="music Image">
    <p class="music__title">Donnée back</p>
</div>

<div class="music__items">
  <img src="https://picsum.photos/60/58" alt="music Image">
  <p class="music__title">Donnée back</p>
</div>

<div class="music__items">
  <img src="https://picsum.photos/60/58" alt="music Image">
  <p class="music__title">Donnée back</p>
</div>
</div>
