<div class="album">
    <div *ngIf="albums?.length;else default">
      <h2>{{artist.name}}</h2>
      <div class="album__items" *ngFor="let album of albums" [routerLink]="['/album', album.id]">
        <img class="album__items-image" src="{{album.image}}" alt="Album Image">
        <p class="album__items-title">{{album.title}}</p>
      </div>
    </div>

    <ng-template #default>
      <div class="album__items" *ngFor="let album of actionService.albumArray" [routerLink]="['/album', album.id]">
        <img class="album__items-image" src="{{album.image}}" alt="Album Image">
        <p class="album__items-title">{{album.title}}</p>
      </div>
    </ng-template>
</div>
