<div class="album__items">
  <img src="https://picsum.photos/80/80" alt="Album Image">
  <p class="album__title">test</p>
</div>

<div class="album__items">
  <img src="https://picsum.photos/80/80" alt="Album Image">
  <p class="album__title">test</p>
</div>


<div class="album__items">
  <img src="https://picsum.photos/80/80" alt="Album Image">
  <p class="album__title">test</p>
</div>

<div class="album__items">
  <img src="https://picsum.photos/80/80" alt="Album Image">
  <p class="album__title">test</p>
</div>


<div class="album__items">
  <img src="https://picsum.photos/80/80" alt="Album Image">
  <p class="album__title">test</p>
</div>


<div class="album__items">
  <img src="https://picsum.photos/80/80" alt="Album Image">
  <p class="album__title">test</p>
</div>


<div class="album__items">
  <img src="https://picsum.photos/80/80" alt="Album Image">
  <p class="album__title">test</p>
</div>
