.album {
  display: flex;
  flex-wrap:wrap;
  gap: 10px;
  &__items {
    display: flex;
    flex-direction: row;
    width: 49%;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    background-color: #292929;
  }

  &__title {
    font-family: 'Poppins', sans-serif;
  }
}
